html {
    height: 100%;
}

body {
    height: calc(100% - 2px);
    border-width: 1px;
    border-style: solid;
    border-color: #AFAFAF;
}

.divControls{
    margin: 20px 10px 5px 10px;
    text-align: center;
}
.divControls input{
    width: 234px;
}
.divControls button{
    padding:0;
}

.divTextArea{
    padding: 10px;
    height: calc(100vh - 85px);
}
.divTextArea textarea{
    width: calc(100% - 7px);
    height: 100%;
}